<template>
  <div transition="anim-alert" v-show="tweet_count > 0 || retweet_count > 0 || favorite_count > 0 || money > 0" class="alert">
    <span v-if="tweet_count > 0">+{{ tweet_count }} tweets</span>
    <span v-if="retweet_count > 0">+{{ retweet_count }} retweet</span>
    <span v-if="favorite_count > 0">+{{ favorite_count }} favorites</span>
    <span v-if="money > 0">+ ${{ money }}</span>
  </div>
</template>
<script>
  import Vue from 'vue'
  import store from '../store'

  Vue.transition('anim-alert', {
    enter: function (el) {
      window.setTimeout(function() {
        store.dispatch('resetAlert');
      }, 4000);
    }
  })

  export default{
    computed: {
      tweet_count() { return store.state.alert.tweet_count },
      retweet_count() { return store.state.alert.retweet_count },
      favorite_count() { return store.state.alert.favorite_count },
      money() { return store.state.alert.money }
    }
  }
</script>
<style rel="stylesheet/scss" lang="scss">
  @import "../assets/scss/variables";

  .anim-alert-transition {
    transition: all 0.3s ease-out;
  }
  .anim-alert-enter, .anim-alert-leave {
    transform: translateY(100%);
  }

  .anim-alert-leave {
    transition-timing-function: ease-in;
  }

  .alert {
    position: absolute;
    z-index: 10000;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: $c-rep;
    color: $c-white;
    padding: 10px;

    span {
      display: inline-block;

      & + span {
        &:before {
          content: ', ';
        }
      }
    }
  }
</style>
