<template>
  <div class="background">
    <canvas id="gradient" class="gradient"></canvas>
  </div>
</template>
<script>
  import store from '../store'
  import TweenMax from 'gsap'

  export default{
    ready: function () {
      /***************
       * Init canvas
       */

      var stage = new PIXI.Stage(0xFFFFFF);

      var renderer = PIXI.autoDetectRenderer(window.innerWidth, window.innerHeight, {
        transparent: true,
        antialias: true,
        resolution: 2
      });

      this.$el.appendChild(renderer.view);

      renderer.view.style.width = window.innerWidth + "px";
      renderer.view.style.height = window.innerHeight + "px";

      requestAnimationFrame(animate);

      /*************
       * Graphic Utils
       */

      var objectsContainer = new PIXI.Container();
      var scrollingContainer = new PIXI.Container();

      // Assets and methods

      var cloundGenerationType = {
        init: function (graphic) {

          graphic.direction = (Math.random() - 0.5 > 0) ? 1 : -1;

          graphic.anchor.x = 0;
          graphic.anchor.y = 0;

          // move the sprite t the center of the screen

          if (graphic.width != 1) {
            graphic.position.x = (graphic.direction == 1) ? 0 - graphic.width : window.innerWidth;
          } else {
            graphic.position.x = (graphic.direction == 1) ? -window.innerWidth : window.innerWidth;
          }

          graphic.position.y = (Math.random() * 2 - 1) * window.innerHeight - scrollingContainer.position.y;

          graphic.velocity = Math.random() * 0.5;

          graphic.mustDestroy = false;

          //graphic.scale.x = graphic.scale.y = 0.3;
        },
        render: function (graphic) {
          graphic.position.x += Math.max(graphic.velocity, 0.1) * graphic.direction;

          if(graphic.position.x > Math.abs(window.innerWidth)) {
            graphic.mustDestroy = true;
          }
        }
      };

      var generatableObjects = [
        {
          name: 'bird',
          path: require('../assets/img/background/bird.png'),
          frequency: 1,
          init: function (graphic) {
            graphic.anchor.x = 0;
            graphic.anchor.y = 0;

            // move the sprite t the center of the screen
            graphic.position.x = window.innerWidth;
            graphic.position.y = (Math.random() - 0.4) * window.innerHeight - scrollingContainer.position.y ;

            graphic.scale.x = graphic.scale.y = 0.3;

            graphic.mustDestroy = false;
          },
          render: function (graphic) {
            graphic.position.x -= 1;
            graphic.position.y += 0.1;

            if(graphic.position.x < -200) {
              graphic.mustDestroy = true;
            }
          }
        },
        Object.assign({
          name: 'cloud1',
          path: require('../assets/img/background/cloud1.png'),
          frequency: 0.5,
        }, cloundGenerationType),
        Object.assign({
          name: 'cloud2',
          path: require('../assets/img/background/cloud2.png'),
          frequency: 0.5,
        }, cloundGenerationType),
        Object.assign({
          name: 'cloud3',
          path: require('../assets/img/background/cloud3.png'),
          frequency: 0.5,
        }, cloundGenerationType),
        Object.assign({
          name: 'cloud4',
          path: require('../assets/img/background/cloud4.png'),
          frequency: 0.5,
        }, cloundGenerationType),
      ];

      var objects = [
        {
          name: 'house',
          path: require('../assets/img/background/house.png'),
          init: function (graphic) {
            graphic.anchor.x = 0.5;
            graphic.anchor.y = 0.5;

            // move the sprite t the center of the screen
            graphic.position.x = window.innerWidth / 2;
            graphic.position.y = window.innerHeight;
          },
          render: function () {

          }
        }
      ].concat(generatableObjects);

      function generateGraphic (object, container) {
        if (typeof object === "undefined" || object === false) {
          object = generatableObjects[ Math.floor(Math.random() * generatableObjects.length) ];
        } else {
          object = objects.find((el) => { return el.name === object });
        }

        let texture = PIXI.Texture.fromImage(object.path);

        let graphic = new PIXI.Sprite(texture);

        object.init(graphic);

        container.addChild(graphic);

        return {
          graphic,
          frequency: object.frequency || 1,
          remove: function () {
            container.removeChild(graphic);
          },
          render: function () {
            if(!graphic.mustDestroy) {
              object.render(graphic);
              return true;
            } else {
              graphic.destroy();
              return false;
            }
          }
        }
      }

      var generatedObjects = [];

      /*************
       * Plain Graphics
       */


      /*************
       * Graphics generation
       */

      TweenMax.fromTo(objectsContainer.position, 4, {x: "-=20"}, {x: "+=20", repeat: -1, ease: Quad.easeInOut, yoyo: true});

      scrollingContainer.addChild(objectsContainer);
      stage.addChild(scrollingContainer);

      var whiteHouse = generateGraphic('house', scrollingContainer);
      TweenMax.fromTo(whiteHouse.graphic.position, 4, {x: "-=20"}, {x: "+=20", repeat: -1, ease: Quad.easeInOut, yoyo: true});
      TweenMax.fromTo(whiteHouse.graphic.position, 3, {y: "-=22"}, {y: "+=12", repeat: -1, ease: Quad.easeInOut, yoyo: true});

      generatedObjects.push(whiteHouse);

      /*************
       * Pixi Render loop
       */

      var lastRender = new Date();
      var lastGeneration = new Date(0);

      function animate () {

        requestAnimationFrame(animate);

        var delta = new Date().getTime() - lastRender.getTime();

        if(store.state.gameReady) {
          TweenMax.to(scrollingContainer.position, 0.5, {y: store.state.data.totalMeters * 2, ease: Quad.easeInOut});
        } else {

        }

        // Random object generation

        if (new Date().getTime() - lastGeneration.getTime() > Math.random() * 2500 + 1000) {
//        if (new Date().getTime() - lastGeneration.getTime() > Math.random() * 1000 + 100) {
          lastGeneration = new Date();
          let generatedGraphic = generateGraphic(false, objectsContainer);
          if (Math.random() < generatedGraphic.frequency) {
            generatedObjects.push(generatedGraphic);
          }
        }

        generatedObjects.forEach(function (graphic, i) {
          if(!graphic.render()) {
            generatedObjects.splice(i, 1);
          }
        });

        // render the stage
        renderer.render(stage);
        lastRender = new Date();
      }

      /**************
       * Gradient separate canvas
       */

      class GradientCanvas {
        constructor (el) {
          this.canvas = el;

          this.canvas.width = window.innerWidth;
          this.canvas.height = window.innerHeight;

          this.ctx = el.getContext('2d');

          this.topColor = "#0C1649";
          this.bottomColor = "#753265";

          this.render();
        }

        setColors (topColor, bottomColor) {
          this.topColor = topColor;
          this.bottomColor = bottomColor;
        }

        render () {
          requestAnimationFrame(this.render.bind(this));

          this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
          var gradient = this.ctx.createLinearGradient(0, 0, this.canvas.width, this.canvas.height);
          gradient.addColorStop(0, this.topColor);
          gradient.addColorStop(1, this.bottomColor);
          this.ctx.fillStyle = gradient;
          this.ctx.fillRect(0, 0, this.canvas.width, this.canvas.height);
        }
      }

      var gradientBg = new GradientCanvas(this.$el.querySelector('#gradient'));
    }
  }
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
  .background {
    position: fixed;
    background: #f00;
    z-index: -10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
</style>
