<template>
  <div v-on:click="purchase" class="market-item">
    <div class="market-item__img">
      <img v-bind:src="image" alt="{{item.name}}">
    </div>

    <div class="market-item__ticket">
      <header class="market-item__ticket__header">
        <div class="market-item__name">{{item.name}}</div>
        <div class="market-item__purchased">({{amount}} in stock)</div>
      </header>
      <div class="market-item__meta">
        <div v-if="amount" class="market-item__effects">
          <div v-for="effect in effects" class="market-item__effect">
            {{effect}}
          </div>
        </div>
        <div class="market-item__price">${{value}}</div>
      </div>
    </div>
  </div>
</template>
<script>
  import store from '../store'
  import StoreActions from '../store/actions'

  import TweenMax from 'gsap'

  export default{
    props: [ 'item' ],
    data() {
      return {
        update: false,
        image: require("../assets/img/items/" + this.item.picture)
      }
    },
    computed: {
      amount() {
        var update = this.update;
        var dbItem = store.state.data.items.find((el) => { return el.id === this.item.id });

        if (dbItem) {
          return dbItem.amount;
        } else {
          return 0;
        }
      },
      value() {
        if (this.amount > 1) {
          return Math.floor(Math.pow(this.item.value, (this.amount - 1) * this.item.exponent));
        } else {
          return this.item.value;
        }
      }
    },
    methods: {
      purchase() {
        StoreActions.buyItem({ item: this.item, value: this.value });
        this.update = !this.update;
        TweenMax.to(this.$el, 0.2, {scale: 1.1, backgroundColor: '#ffffff', yoyo: true, repeat: 1, onComplete: () => {
          TweenMax.to(this.$el, 0.1, {scale: 1, backgroundColor: 'transparent'});
        }});
      }
    }
  }
</script>
<style rel="stylesheet/scss" lang="scss">
  @import "../assets/scss/variables";

  .market-item {
    padding: 10px;
    margin-bottom: $l-gutter/2;

    &__img {
      width: 75%;
      margin: 0 auto;
    }

    &__ticket {
      margin-top: 10px;
      padding: 7px 13px;

      background: #FFFE99;
      color: rgba($c-black, 0.5);
    }

    &__name {
      font-size: 1.6rem;
    }

    &__purchased {
      font-size: 1rem;
    }

    &__meta {
      display: flex;
      margin-top: 6px;

      > * {
        flex: 1 1 auto;
      }
    }

    &__price {
      text-align: right;
      font-size: 1.6rem;
    }
  }

</style>