<template>
  <article class="party-card" v-bind:class="party.name" data-disabled="{{ party.disabled }}" data-selected="{{ party.selected }}">
    <div class="party-card__inner">
      <header class="party-card__header">
        <h1 class="party-card__leader">{{ party.leader }}</h1>
        <p class="party-card__meta"><strong class="party-card__party">{{ party.name }} nominee</strong></p>
      </header>
      <div class="party-card__img">
        <img v-if="party.name == 'democrats'" src="../assets/img/party-clinton.svg" alt="">
        <img v-else src="../assets/img/party-trump.svg" alt="">
      </div>
    </div>
  </article>
</template>

<script>
  export default{
    props: ['party'],
    methods: {
      'selectParty': function() {
        this.party.disabled = false;
        this.party.selected = true;
        this.$dispatch('selectParty', this.party);
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import "../assets/scss/variables";

  .party-card {
    background: $c-white;
    width: 100%;
    border-radius: 13px;
    padding: $l-gutter/3;
    display: flex;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.655, 0.130, 0.265, 1.550), all 0.3s ease-in-out;

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &__inner {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      border: solid 4px $c-dem;
      color: $c-dem;
      border-radius: 10px;
      flex: 1 0 100%;
      padding: $l-gutter/2;
      padding-bottom: 0;

      .republicain & {
        color: $c-rep;
        border-color: $c-rep;
      }
    }

    &__header {

    }

    &__leader {
      width: 70%;
      margin: 0;
      font-size: 5vw;
      line-height: 1em;

      .democrats & {
        margin-left: auto;
        text-align: right;
      }

    }

    &__meta {
      font-size: 3vw;
      padding-left: 25%;
      text-align: right;

      .republicain & {
        text-align: left;
        padding-left: 1%;
        padding-right: 40%;
      }
    }

    &__party {
      font-size: 2.5vw;
      display: block;
      text-transform: capitalize;
    }

    &__img {
      position: absolute;
      bottom: 0;
      left: -20%;
      margin-bottom: -2px;
      font-size: 0;
      width: 100%;
      height: auto;

      img {
        display: inline-block;
        width: 70%;
      }

      .republicain & {
        left: auto;
        right: -8%;
        text-align: right;
      }
    }

    &:not([data-selected]):hover {
      transform: scale(1.05);
    }

    &[data-disabled]:not(:hover) {
      filter: grayscale(100%) brightness(200%);
      transform: scale(0.95);
    }

    &[data-selected] {
      box-shadow: 0 0 30px rgba($c-white, 0.6);
      transform: scale(1.02);
    }
  }
</style>