<template>
  <div id="rope">
  </div>
</template>
<style>
  canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
</style>
<script>
  import store from '../store'
  import PixiRope from '../assets/js/PixiRope'
  import Howler from 'howler'

  export default{
    computed: {
      hoistPerSecond() {
        var mps = 0;

        store.state.data.items.forEach((el) => {
          mps += el.effects.mps || 0;
        });

        return mps;
      }
    },
    ready: function () {
      /***************
       * Rope canvas rendering
       */

          // create an new instance of a pixi stage
      var stage = new PIXI.Stage(0xFFFFFF);

      // create a renderer instance.
      var renderer = PIXI.autoDetectRenderer(window.innerWidth, window.innerHeight, {
        transparent: true,
        antialias: true,
        resolution: 2
      });

      // add the renderer view element to the DOM
      this.$el.appendChild(renderer.view);

      renderer.view.style.width = window.innerWidth + "px";
      renderer.view.style.height = window.innerHeight + "px";

      var rope = new PixiRope(PIXI.Texture.fromImage(require('../assets/img/rope.svg')));

      stage.addChild(rope);

      function animate () {
        this.raf = requestAnimationFrame(animate.bind(this));

        // render the stage
        renderer.render(stage);
      }

      this.raf = requestAnimationFrame(animate.bind(this));

      function deviceMotionHandler (eventData) {
        if (eventData.acceleration.y > 5) {
          this.$dispatch('hoist', parseFloat((eventData.acceleration.y * store.state.data.strength / 1000).toFixed(2)));
        }
      }

      // Check to make sure the browser supprots DeviceOrientationEvents
      if (window.DeviceMotionEvent) {
        window.addEventListener('devicemotion', deviceMotionHandler.bind(this), false);
      } else {
        document.getElementById("dmEvent").innerHTML = "Not supported."
      }

      /************
       * Sound effect
       */

      this.sound = new Howl({
        src: [ require('../assets/sounds/pole.mp3') ],
        loop: true,
        rate: 0.7,
        volume: 0.05
      });

      //this.sound.play();
    },
    beforeDestroy() {
      window.cancelAnimationFrame(this.raf);
    },
    methods: {
      mute: function () {
        if (this.sound.playing()) {
          this.sound.pause();
        } else {
          this.sound.play();
        }
      }
    }
  }
</script>
