<template>
  <div class="tweet-card">
    <div class="tweet-card__data">
      <div class="tweet-card__time">{{ time }}</div>
      <div class="tweet-card__meta">
        <div class="tweet-card__likes">
          <i class="fa fa-heart" aria-hidden="true"></i> {{ tweet.favorite_count }}
        </div>
        <div class="tweet-card__retweet">
          <i class="fa fa-retweet" aria-hidden="true"></i> {{ tweet.retweet_count }}
        </div>
      </div>
    </div>
    <div class="tweet-card__value-wrapper">
      <div class="tweet-card__value">
        ${{ value }}
      </div>
    </div>
  </div>
</template>
<script>
  import moment from 'moment'
  import store from '../store'

  export default{
    props: [ 'tweet' ],
    computed: {
      time: function () {
        return moment(this.tweet.created_at).format("HH:mm");
      },
      value: function() {
        return 1 + this.tweet.favorite_count * 2 + this.tweet.retweet_count * 5;
      }
    }
  }
</script>
<style rel="stylesheet/scss" lang="scss">
  @import "../assets/scss/variables";

  .tweet-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: center;

    background: #EEEEEE;
    border-radius: 4px;

    > * {
      flex: 1 1 auto;

      & + * {
        border-left: solid 1px #DDDDDD;
      }
    }

    &__data {
      padding: 4px 11px 7px;
    }

    &__time {
      color: #B0B0B0;
      font-size: 1.4rem;
      margin-bottom: 3px;
    }

    &__meta {
      font-size: 0.9rem;
      display: flex;
      text-align: center;
      white-space: nowrap;
      color: $c-dem;

      > * {
        & + * {
          margin-left: 5px;
        }
      }
    }

    &__value-wrapper {
      padding: 5px 10px;
      color: #727272;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
</style>
