@import "variables";
@import "ui";

/**************************
* GLOBAL STYLING
**************************/

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $f-main;
  font-size: 1.3rem;
  margin: 0;
}

img {
  max-width: 100%;
}

/**************************
* DEBUG
**************************/

.debug {
  &-nav {
    padding: 10px 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: rgba(#fff, 0.6);

    a {
      margin: 0 5px;
      color: $c-dem;
    }
  }
}

/**************************
* TITLES
**************************/

.title {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 3rem;
  line-height: 1.3em;
  font-weight: bold;
  text-align: center;
  &__small {
    font-weight: normal;
    font-size: 0.6em;
    line-height: 0;
  }
}