@import "variables";

.btn {
  position: relative;
  display: inline-block;
  font-family: $f-main;
  border: none;
  padding: 13px 50px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.4rem;
  box-shadow: 0 3px 10px rgba($c-black, 0.4), 0 2px 2px rgba($c-black, 0.2);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.2s ease-in-out;
  overflow: hidden;

  &--twitter {
    background: $c-twitter;
    color: $c-twitter-i;
  }

  &--icon {
    padding-left: 20px;
    padding-right: 25px;

    &:before {
      content: '';
      background: no-repeat center/contain;
      display: inline-block;
      vertical-align: middle;
      height: 23px;
      width: 23px;
      margin-right: 25px;
    }
  }

  &--circle {
    background: $c-dem;
    color: $c-white;
    padding: 0;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 0;
    vertical-align: middle;

    &:before {
      display: inline-block;
      line-height: 58px;
      height: 60px;
    }

    &.btn--big {
      width: 80px;
      height: 80px;
    }

    .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--validate {
    &:before {
      content: '✔';
      font-size: 18px;
    }
  }

  &--delete {
    &:before {
      content: '×';
    }
  }
  
  &[disabled] {
    background: $c-disabled;
    color: $c-disabled-i;
  }
}