<template>
    <div>
        <div class="name">{{ name }}</div>
        <div class="head"></div>
        <div class="body"></div>
    </div>
</template>
<style scoped>
    body {
        background-color: #ff0000;
    }
</style>
<script>
    export default{
        data () {
            return {
                name: 'Didier',
            }
        }
    }
</script>
