<template>
    <div id="startscreen" class="startscreen" transition="startscreen">
        <div class="interface">
            <div id="logo">
                <img class="logo" src="assets/img/logo-the-hoist-white.svg">
            </div>
            <div id="introduction">
                <p>
                    <strong>Show your support by raising your favorite candidate's flag in the sky.</strong>
                </p>
                <p>
                    Each tweet you post about your candidate will help you to raise your flag. Don't forget to tweet regularly if you don't want to loose any of that useful help !
                </p>
            </div>
            <div class="startscreen__login" id="twitterLogin">
                <twitter-login></twitter-login>
            </div>
        </div>

        <div id="fireworksContainer" class="fireworks"></div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Fireworks from 'assets/js/Fireworks'
    import TwitterLogin from 'components/ui/TwitterLogin'
    import store from './store'
    import TweenMax from 'gsap'

    Vue.transition('startscreen', {
        enter: function (el) {
            TweenMax.from(el.querySelector('#twitterLogin'), 0.5, {scale: 0.5, opacity: 0.01, y: 20, delay: 0.2, ease: Back.easeOut});
        },
        leave: function (el, done) {
            TweenMax.staggerTo(el.querySelectorAll('#logo, #introduction, #twitterLogin'), 0.3, {y: -200, opacity: 0.01, force3D: true, ease: Quad.easeIn}, 0.05, done);
        }
    })

    export default {
        components: {
            TwitterLogin
        },
        ready: function () {
            TweenMax.delayedCall(1, () => {
                this.fireworks = new Fireworks(this.$el.querySelector('#fireworksContainer'));
            });
        },
        events: {
            connectSuccess() {
                if(store.state.data.party.id) {
                    this.$router.go('/hoist');
                } else {
                    this.$router.go('/select-party');
                }
            }
        },
        beforeDestroy: function() {
            if(this.fireworks) {
                this.fireworks.stop();
            }
        }
    }
</script>

<style rel="stylesheet/scss" lang="scss">
    @import "assets/scss/global";
</style>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import "assets/scss/variables";

    /**************************
    * Global vars
    **************************/

    html {
        height: 100%;
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .fireworks {
        z-index: 99;
        pointer-events: none;
    }

    .video-wrapper {
        position: absolute;
        z-index: -100;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .startscreen {
        position: relative;
        z-index: 1;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;

        /*
        background: url(assets/img/startscreen-bg.jpg) no-repeat center/cover;

        &:before {
            content: '';
            position: absolute;
            z-index: -2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #FF0000;
            mix-blend-mode: multiply;
        }

        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #1B3768;
            mix-blend-mode: lighten;
        }
        */

        &__login {
            position: relative;
            z-index: 999;
        }
    }

    .logo {
        max-width: 50vw;
        height: auto;
        margin-bottom: 2em;
        margin-left: 50px;
    }

    .interface {
        max-width: 360px;
        color: $c-white;
    }

    .btn-connect {
        margin-top: 30px;
        position: relative;
        z-index: 100;
    }
</style>
