<template>
  <div class="hoist">
    <navigation></navigation>
    <ath :firstlaunch="firstLaunch" :backgroundhoist="backgroundHoist" :meterstocommit="meters"></ath>
    <rope></rope>
  </div>
</template>

<script>
  import store from '../store'
  import StoreActions from '../store/actions'
  import Rope from '../components/Rope'
  import Ath from '../components/ui/Ath'
  import Navigation from '../components/ui/Navigation'
  import TweenMax from 'gsap'

  export default {
    data() {
      return {
        meters: 0,
        backgroundHoist: 0,
        lastUpdate: false,
        firstLaunch: false
      }
    },
    computed: {
      mps() {
        let mps = 0;

        store.state.data.items.forEach((el) => {
          mps += (el.effects.mps || 0) * el.amount
        })

        return mps.toFixed(2);
      }
    },
    components: {
      Rope,
      Ath,
      Navigation
    },
    created() {
      if(!store.state.gameReady) {
        this.firstLaunch = true;
      }

      store.dispatch('setGameReady');
    },
    ready() {
      /************
       * Init tweet auto fetching
       */

      StoreActions.initTweetTimeoutFetch();

      /**************
       * Socket connection
       */

      /*this.$socket.on('connect', function (socket) {
        console.log(this);
      });

      this.$socket.on('event', function (data) {});
      this.$socket.on('disconnect', function () {});*/

      /**************
       * Manual Hoist
       */

      function hideMeters () {
        this.manualHoistRaf = requestAnimationFrame(hideMeters.bind(this));

        if (this.lastUpdate && this.meters >= 0.01 && new Date() - this.lastUpdate > 3000) {
          this.lastUpdate = false;

          TweenMax.delayedCall(0.5, () => {
              this.$socket.emit('hoist', this.meters);
              store.dispatch('addToTotalMeters', {amount: this.meters});
              this.meters = 0;
          });
        }
      }
      this.manualHoistRaf = requestAnimationFrame(hideMeters.bind(this));

      /************
       * Hoist per seconds
       */

      let lastSync = {
        time: new Date().getTime(),
        meters: 0,
        getDeltaTime: function() {
          return new Date().getTime() - this.time
        },
        reset: function() {
          this.time = new Date().getTime();
          this.meters = 0;
        }
      };

      function renderHoistPerSecond() {
        this.autoHoistRaf = requestAnimationFrame(renderHoistPerSecond.bind(this));
        let delta = new Date().getTime() - store.state.data.lastHoistUpdate;

        if(store.state.autoHoistEnabled) {
          let hoistToAdd = store.state.data.mps * (delta/1000);

          if(hoistToAdd > 0) {

            store.dispatch('addToTotalMeters', {amount: hoistToAdd});
            lastSync.meters += hoistToAdd;

            if(lastSync.getDeltaTime() > 5000) {
              this.$socket.emit('hoist', lastSync.meters);
              lastSync.reset();
            }

            if(delta > 5000) this.$dispatch('pauseBetweenHoist', hoistToAdd);
          } else {
            if(delta > 200) {
              store.dispatch('updateLastHoistUpdate');
            }
          }
        }

      }

      this.autoHoistRaf = requestAnimationFrame(renderHoistPerSecond.bind(this));
    },
    events: {
      hoist (meters) {
        this.meters = parseFloat((this.meters + meters).toFixed(2));
        this.lastUpdate = new Date();
      },
      pauseBetweenHoist(meters) {
        this.backgroundHoist = meters.toFixed(0);

        TweenMax.to(this, 2, {backgroundHoist: 0, delay: 4, roundProps: "backgroundHoist"});
      }
    },
    beforeDestroy() {
      window.cancelAnimationFrame(this.manualHoistRaf);
      window.cancelAnimationFrame(this.autoHoistRaf);
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
  @import "../assets/scss/variables";

  .hoist {
    &__meters {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      white-space: nowrap;
      font-weight: bold;
      font-size: 7rem;
    }
  }
</style>
