<template>
  <div class="market" transition="slide-right">
    <navigation></navigation>
    <header class="market__header">
      <div class="market__meta">
        <div class="market__meta__nav">
          <a class="market__back" v-link="{ path: '/hoist' }"><i
              class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
        <div class="market__meta__header">
          <div class="market__meta__indications">Tweet your pride to earn money, that's the only way !</div>
          <div class="market__meta__money"><span class="market__meta__money__sign">$</span>{{money}}</div>
        </div>
      </div>
      <div class="market__tweets">
        <header class="market__tweets__header">#LT</header>
        <div class="market__tweets__list">
          <tweet-card v-for="tweet in tweets" :tweet="tweet"></tweet-card>
        </div>
      </div>
    </header>
    <div class="market__items">
      <div v-for="item in items">
        <market-item :item="item"></market-item>
      </div>
    </div>
  </div>
</template>

<script>
  import store from '../store'
  import TweetCard from '../components/TweetCard'
  import MarketItem from '../components/MarketItem'
  import Navigation from '../components/ui/Navigation'
  import TweenMax from 'gsap'

  export default {
    data() {
      return {
        items: [
          {
            id: 1,
            name: "God Mod",
            picture: "god-mode.svg",
            value: 0,
            exponent: 2,
            effects: {
              discovered: false,
              mps: 10,
              strength: 2
            }
          },
          {
            id: 2,
            name: "Workers",
            picture: "hand.svg",
            value: 10,
            exponent: 1.1,
            effects: {
              discovered: false,
              mps: 0.4
            }
          },
          {
            id: 3,
            name: "Steroïds",
            picture: "steroids.svg",
            value: 3,
            exponent: 1.5,
            effects: {
              discovered: false,
              strength: 3
            }
          }
        ]
      }
    },
    computed: {
      money() {
        return store.state.data.money
      },
      tweets: function() {
        return store.state.data.tweets;
      }
    },
    components: {
      TweetCard,
      MarketItem,
      Navigation
    },
    ready() {
    },
    events: {}
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
  @import "../assets/scss/variables";

  .market {
    background: #194893;
    position: relative;
    z-index: 999;
    overflow: hidden;
    min-height: 100vh;

    &__meta, &__tweets {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      background: $c-dem;
      color: $c-white;
    }

    &__meta {
      padding-right: $l-gutter/2;
      &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &__header {
        display: flex;
        align-items: center;
      }

      &__indications {
        font-size: 1.3rem;
        color: #A4BCFF;
        text-shadow: 0px -1px 0px rgba(0,0,0,0.15);
        text-align: right;
      }

      &__money {
        background: #3763DF;
        border-radius: 4px;
        padding: 4px 5px;
        white-space: nowrap;
        font-size: 1.6rem;
        margin-left: 15px;

        &__sign {
          display: inline-block;
          margin-right: 3px;
        }
      }
    }

    &__back {
      font-size: 3rem;
      color: $c-white;
      padding: $l-gutter/2 $l-gutter;
    }

    &__tweets {
      padding: 10px $l-gutter;
      background: #3763DF;
      border-top: solid 2px #244EC5;
      display: flex;
      overflow: scroll;

      &__header {
        text-transform: uppercase;
        flex: 0 1 auto;
        padding-right: $l-gutter;
        color: #6E94FF;
        text-shadow: 0 -2px 0 rgba($c-black, 0.15);
      }

      &__list {
        flex: 1 1 auto;
        display: flex;

        > * {
          & + * {
            margin-left: $l-gutter/2;
          }

          &:last-child {
            margin-right: $l-gutter/2;
          }
        }
      }
    }

    &__items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      padding: $l-gutter;
      margin: 0 -#{$l-gutter/2};

      > * {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
    }
  }

  .slide-right-transition {
    transition: transform .3s ease-in-out 0.1s;
  }

  .slide-right-enter, .slide-right-leave {
    transform: translate3d(100%, 0, 0);
  }
</style>
