<template>
  <div class="party-selection" transition="party-selection">
    <div id="title">
      <h1 class="title party-selection__title">
        <div id="titleSmall" class="title__small">Choose</div>
        your party
      </h1>
    </div>

    <div id="partiesSelection" class="party-selection__parties">
      <div v-for="party in parties">
        <div>
          <party-card v-on:click="selectParty(party)" :party="party"></party-card>
        </div>
      </div>
    </div>

    <div id="validation" class="party-selection__validation">
      <div class="js-btn">
        <button v-on:click="resetParty" class="btn btn--circle" v-bind:disabled="!isReady"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
      <div class="js-btn">
        <button v-on:click="validateParty" class="btn btn--circle" v-bind:disabled="!isReady"><i class="fa fa-check" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import PartyCard from "../components/PartyCard";
  import store from "../store";
  import StoreActions from "../store/actions";

  Vue.transition('party-selection', {
    beforeEnter: function (el, done) {
      new TimelineMax({onComplete: done, delay: 0.5})
          .from(el.querySelectorAll('#title'), 0.5, {opacity: 0.01, y: 50}, 0)
          .from(el.querySelectorAll('#titleSmall'), 0.5, {y: -30}, 0)
          .from(el.querySelectorAll('#partiesSelection > *:nth-child(odd)'), 0.5, {opacity: 0.01, x: -100}, 0.2)
          .from(el.querySelectorAll('#partiesSelection > *:nth-child(even)'), 0.5, {opacity: 0.01, x: 100, delay: 0.1}, 0.2)
          .staggerFrom(el.querySelectorAll('.js-btn'), 0.5, {opacity: 0.01, y: -50}, 0.1);
    },
    leave: function (el, done) {
      TweenMax.staggerTo(el.querySelectorAll('#partiesSelection > *'), 0.3, {y: -200, opacity: 0.01, force3D: true, ease: Quad.easeIn}, 0.05, done);
    }
  })

  export default {
    data() {
      return {
        parties: [
          {
            id: 1,
            leader: "Hillary Clinton",
            name: "democrats",
            experience: "Former US Secretary of State",
            selected: false,
            disabled: false,
            tweetSearch : 'hillary OR clinton OR hillaryclonton OR democrat OR democrats OR IWillVote OR LoveTrumpsHate OR trump OR ImWithHer'
          },
          {
            id: 2,
            leader: "Donald Trump",
            name: "republicain",
            experience: "Businessman",
            selected: false,
            disabled: false,
            tweetSearch : 'donald OR trump OR donaldtrump OR republican OR republicans OR FollowTheMoney OR AmericaFirst OR MAGA OR FollowTheMoney OR MakeAmericaGreatAgain OR TrumpTrain OR hillary' // Separate terms with 'OR'
          }
        ]
      }
    },
    components: {
      PartyCard
    },
    computed: {
      // a computed getter
      isReady() {
        return this.parties.findIndex((el) => {
              return el.selected == true;
            }) !== -1;
      }
    },
    methods: {
      selectParty(party) {
        this.parties.forEach((el) => {
          if (el === party) {
            el.selected = true;
            el.disabled = false;
          } else {
            el.selected = false;
            el.disabled = true;
          }
        });
      },
      validateParty() {
        store.dispatch('setParty', {
          party: this.parties.find((party) => {
            return party.selected == true;
          })
        });

        this.$socket.emit('setParty', store.state.data.party.id)

        this.$router.go('/hoist');
      },
      resetParty() {
        this.parties.forEach((party) => {
          party.selected = false;
          party.disabled = false;
        });
      }
    },
    events: {
      selectParty: function (party) {
        this.$children.filter((el) => {
          return el.party != party;
        }).forEach((el) => {
          el.disabled = true;
          el.selected = false;
        });
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
  @import "../assets/scss/variables";

  .party-selection {
    position: relative;
    z-index: 1;
    padding: $l-gutter;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      color: $c-white;
      font-size: 5rem;
    }

    &__parties {
      margin: 50px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > * {
        flex: 0 0 50%;

        &:nth-child(odd) {
          padding-right: $l-gutter/2;
        }

        &:nth-child(even) {
          padding-left: $l-gutter/2;
        }
      }
    }

    &__validation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 35px;

      > * {
        position: relative;
        margin: 0 10px;
      }
    }
  }
</style>
