<template>
    <div class="ath">
        <div class="ath__alerts">
            <div class="ath__alert" transition="anim-ath-alert" v-if="firstlaunch"><b>SHAKE</b> your device to hoist !</div>
            <div class="ath__alert" transition="anim-ath-alert" v-if="backgroundhoist >= 0.1"><strong>{{ backgroundhoist }} meters</strong><br>has been hoisted while you were out!</div>
        </div>

        <div class="ath__tooltip ath__tooltip--top ath__to-commit" v-bind:class="{ 'hidden': (meterstocommit <= 0) }"><div class="bubble-icon"><i>+</i></div><div class="ath__to-commit__number">{{ meterstocommit }}m</div></div>
        <div class="ath__total-meters" data-text="{{ totalMeters }}m">{{ totalMeters }}m</div>
        <div class="ath__tooltip ath__tooltip--bottom ath__mps">
            <small>{{leader}} hoist</small><strong>{{ mps }} m/s</strong>
            <div v-if="tweetTimeout" class="ath__timeout"><small>Don't forget to support by tweet in</small><strong>{{tweetTimeout}}</strong><small>to let {{ leader }} hoist for you</small></div>
            <div v-else class="ath__timeout"><small>Your twitter countdown is over...</small><small>Tweet now to let {{ leader }}<br/>hoist for you !</small></div>
        </div>
    </div>
</template>
<script>
    import store from '../../store'

    export default{
        props: ['firstlaunch', 'backgroundhoist', 'meterstocommit'],
        data() {
            return {
                deltaTimeTweet: 0
            }
        },
        computed: {
            totalMeters() {
                return (store.state.data.totalMeters < 1000) ? store.state.data.totalMeters.toFixed(2) : store.state.data.totalMeters.toFixed(0);
            },
            mps() {
                let mps = 0;

                store.state.data.items.forEach((el) => {
                    mps += (el.effects.mps || 0) * el.amount
                })

                return mps.toFixed(2);
            },
            leader() {
                return store.state.data.party.leader;
            },
            tweetTimeout() {
                var d = 86400 - this.deltaTimeTweet/1000;

                if(this.deltaTimeTweet >= 1) {
                    var h = Math.floor(this.deltaTimeTweet / 3600);
                    var m = Math.floor(this.deltaTimeTweet % 3600 / 60);
                    var s = Math.floor(this.deltaTimeTweet % 3600 % 60);
                    return ((h > 0 ? h + ":" + (m < 10 ? "0" : "") : "") + m + ":" + (s < 10 ? "0" : "") + s);
                } else {
                    return false;
                }
            }
        },
        components:{

        },
        ready() {

            if(this.firstlaunch) {
                setTimeout(function() {
                    this.firstlaunch = false;
                }.bind(this), 5000);
            }

            function updateTimeout() {
                requestAnimationFrame(updateTimeout.bind(this));
                let delta = 86400 - (new Date().getTime() - store.state.data.lastTweet.getTime())/1000;
                if(delta > 0) {
                    this.deltaTimeTweet = delta;
                    if(!store.state.autoHoistEnabled) store.dispatch('toggleAutoHoist', { enable: true });
                } else {
                    this.deltaTimeTweet = 0;
                    if(store.state.autoHoistEnabled) store.dispatch('toggleAutoHoist', { enable: false });
                }
            }

            this.timeoutRaf = requestAnimationFrame(updateTimeout.bind(this));
        }
    }
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
    @import "../../assets/scss/variables";

    .ath {
        font-family: $f-mono;
        position: absolute;
        margin: $l-gutter;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        .anim-ath-alert-transition {
            transition: all 0.3s ease-out;
        }
        .anim-ath-alert-enter, .anim-ath-alert-leave {
            opacity: 0;
            transform: translateY(-30px);
        }

        .anim-ath-alert-leave {
            transition-timing-function: ease-in;
        }

        &__alerts {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        
        &__alert {
            line-height: 1.6em;
            text-align: center;
            padding: 10px 10px;
            font-size: 1.6rem;
            border-radius: 5px;
            background: $c-dem;
            color: $c-white;

            strong {
                font-size: 2.3rem;
            }

            & + & {
                margin-top: 10px;
            }
        }

        &__total-meters {
            font-size: 4rem;
            color: $c-white;
            font-weight: bold;
            white-space: nowrap;
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            //text-shadow: 0 -2px 0 rgba($c-black, 1), 0 2px 0 rgba($c-black, 1), -2px 0 0 rgba($c-black, 1), 2px 0 0 rgba($c-black, 1), 0 0 2px rgba($c-black, 1);

            &:before {
                content: attr(data-text);
                position: absolute;
                z-index: -1;
                -webkit-text-stroke: 5px $c-black;
            }
        }

        &__tooltip {
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0) translateY(40px);
            background: $c-dem;
            color: $c-white;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 1.8rem;
            white-space: nowrap;
            text-align: center;
            opacity: 1;
            transition: all 0.3s ease-in-out;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 10px;
                height: 10px;
                background: inherit;
                transform: translate(-50%, -50%) rotate(45deg);
                border-radius: 3px 0 0 0;
            }

            &.hidden {
                opacity: 0;
                pointer-events: none;
            }

            &--top {
                transform: translate(-50%, -50%) translateY(-100%) translateY(-5px);

                &.hidden {
                    transform: translate(-50%, -50%) translateY(-100%) translateY(-5px) translate3d(0, -20px, 0);
                }

                &:before {
                    top: auto;
                    bottom: 0;
                    transform: translate(-50%, 50%) rotate(-135deg);
                }
            }

            &--bottom {

            }
        }

        &__mps {
            strong {
                display: block;
                margin-bottom: 5px;
            }
            small {
                display: block;
                font-size: 0.6em;
                margin-bottom: 5px;
                text-transform: uppercase;
                font-weight: bold;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        
        &__timeout {
            white-space: normal;
            background: $c-rep;
            margin: 15px -15px -10px;
            padding: 10px 15px;
            border-radius: 0 0 4px 4px;
        }

        &__to-commit {
            white-space: nowrap;
            &__number {
                display: inline-block;
                width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;
            }
        }
        .bubble-icon {
            position: relative;
            background: $c-white;
            color: $c-dem;
            display: inline-block;
            width: 20px;
            border-radius: 50%;
            margin-right: 10px;

            i {
                position: absolute;
                font-style: normal;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
                line-height: 2rem;
            }

            &:after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }
        }
    }
</style>