<template>
  <nav class="nav" v-bind:class="{hasAlert: (tweet_count > 0 || retweet_count > 0 || favorite_count > 0 || money > 0)}">
    <!--
    <a class="nav__link btn btn--circle btn--big" v-on:click="showPartyTooltip" v-if="$route.path != '/market'">
      My Party
    </a>
    -->
    <a class="nav__link btn btn--circle btn--big" v-if="$route.path != '/market'"
       v-link="{ path: '/market' }"><i class="fa fa-usd" aria-hidden="true"></i></a>
  </nav>
</template>
<script>
  import store from '../../store'

  export default{
    data(){
      return {
        msg: 'hello vue'
      }
    },
    computed: {
      tweet_count() { return store.state.alert.tweet_count },
      retweet_count() { return store.state.alert.retweet_count },
      favorite_count() { return store.state.alert.favorite_count },
      money() { return store.state.alert.money }
    },
    components: {},
    methods: {
      showPartyTooltip() {
        alert('go there : www.google.com')
      }
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  @import "../../assets/scss/variables";

  .nav {
    position: fixed;
    z-index: 99;
    bottom: $l-gutter;
    right: $l-gutter;
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease-in-out;

    &__link {
      & + & {
        margin-left: $l-gutter;
      }
    }

    &.hasAlert {
      transform: translateY(-36px);
    }
  }
</style>
