<template>
  <button v-on:click="connectTwitter" class="btn btn--twitter btn-connect btn--icon">Sign in with Twitter</button>
</template>

<style lang="scss">

</style>

<style rel="stylesheet/scss" lang="scss" scoped>
  .btn {
    display: inline-block;
    position: relative;
    animation: squiggle 2s ease-out infinite;

    &:before {
      background-image: url(../../assets/img/twitter.svg);
    }

    @keyframes squiggle {
      80% {
        transform: rotate(0deg);
      }
      85% {
        transform: rotate(3deg);
      }
      95% {
        transform: rotate(-3deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
</style>

<script>
  import store from '../../store'
  import $ from 'jquery'

  export default{
    components: {},
    ready: function () {

    },
    methods: {
      connectTwitter() {
        if (window.TwitterConnect) {
          /*
          window.TwitterConnect.login(
              (user) => {
                store.dispatch('setUser', { user });
                this.$dispatch('connectSuccess');

              }, (error) => {
                this.$dispatch('connectError');
              }
          );
          */

          window.OAuth.initialize('vshADl7h7el3xpdflDkz8Ux1QkQ');

          window.OAuth.popup('twitter', {
            cache: true
          })
              .done((result) => {
                store.dispatch('setApiInstance', {instance: result});

                result.me().done((data) => {
                  store.dispatch('setUser', {
                    user: {
                      userName: data.alias,
                      name: data.name,
                      userId: data.id
                    }
                  });

                  this.$dispatch('connectSuccess');
                  this.$socket.emit('setUser', store.state.data.user)
                })
              })
              .fail((err) => {
                console.log(err);
              });
        } else {
          store.dispatch('setUser', {
            user: {
              userName: "TestiThom",
              name: "Thomas Lecoeur",
              userId: 67874027
            }
          });

          this.$dispatch('connectSuccess');
          this.$socket.emit('setUser', store.state.data.user)
        }
      }
    }
  }
</script>
